{% extends "layout.html" %}
{% block content %}
    <!-- <h1>About Page</h1> -->
    <section class="pt-28 pb-10 text-gray-400 body-font bg-gray-900" style="user-select: auto;">
        <div class="container px-5 py-5 mx-auto" style="user-select: auto;">
            <div class="flex flex-wrap w-full mb-" style="user-select: auto;">

                <div>
                    <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90"
                        style="user-select: auto;text-align: center;">
                        <pre>
                                                ██╗██████╗  ██████╗ ██████╗ ██████╗ ███████╗██╗  
                                                ██╔╝██╔══██╗██╔════╝██╔═══██╗██╔══██╗██╔════╝╚██╗ 
                                               ██╔╝ ██║  ██║██║     ██║   ██║██║  ██║█████╗   ╚██╗
                                               ╚██╗ ██║  ██║██║     ██║   ██║██║  ██║██╔══╝   ██╔╝
                                                ╚██╗██████╔╝╚██████╗╚██████╔╝██████╔╝███████╗██╔╝ 
                                                 ╚═╝╚═════╝  ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝╚═╝
                        </pre>
                    </p>
                </div>

                <!-- <div class="lg:w-1/2 w-full mb-6 lg:mb-0" style="user-select: auto;">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white" style="user-select: auto;"><pre>Team: &lt;Dcode&gt;</pre></h1>
                <div class="h-1 w-36 bg-indigo-500 rounded" style="user-select: auto;"></div>
                </div> -->

            </div>

            <div class="py-5 flex flex-wrap" style="user-select: auto;">
                <div class="xl:w-1/4 md:w-1/2 p-4 mx-auto" style="user-select: auto;">
                    <div class="bg-gray-800 bg-opacity-40 p-6 rounded-circle" style="user-select: auto;">
                        <a href="https://github.com/ananya-bangera" target="_blank">
                            <img class="h-40 rounded-full w-1/2 mx-auto object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content" style="user-select: auto;">
                            <h2 class="text-lg text-white font-medium title-font mb-4" style="user-select: auto; text-align: center;">Ananya Bangera</h2>
                            <p class="leading-relaxed text-base" style="user-select: auto; text-align: center">SY-Btech CS,VJTI</p>
                        </a>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4 mx-auto" style="user-select: auto;">
                    <div class="bg-gray-800 bg-opacity-40 p-6 rounded-circle" style="user-select: auto;">
                        <a href="https://github.com/AKASH-0112" target="_blank">
                            <img class="h-40 rounded-full w-1/2 mx-auto object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content" style="user-select: auto;">
                            <h2 class="text-lg text-white font-medium title-font mb-4" style="user-select: auto; text-align: center;">Akash Sable</h2>
                            <p class="leading-relaxed text-base" style="user-select: auto; text-align: center;">SY-Btech IT,VJTI</p>
                        </a>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4 mx-auto" style="user-select: auto;">
                    <div class="bg-gray-800 bg-opacity-40 p-6 rounded-circle" style="user-select: auto;">
                        <a href="https://github.com/pratham-404" target="_blank">
                        <img class="h-40 rounded-full w-1/2 mx-auto object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content" style="user-select: auto;">
                        <h2 class="text-lg text-white font-medium title-font mb-4" style="user-select: auto; text-align: center;">Pratham Loya</h2>
                        <p class="leading-relaxed text-base" style="user-select: auto; text-align: center;">SY-Btech IT,VJTI</p>
                        </a>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4 mx-auto" style="user-select: auto;">
                    <div class="bg-gray-800 bg-opacity-40 p-6 rounded-circle" style="user-select: auto;">
                        <a href="https://github.com/Pramod4636" target="_blank">
                            <img class="h-40 rounded-full w-1/2 mx-auto object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content" style="user-select: auto;">
                            <h2 class="text-lg text-white font-medium title-font mb-4" style="user-select: auto; text-align: center;">Pramod Dhaygude</h2>
                            <p class="leading-relaxed text-base" style="user-select: auto; text-align: center;">SY-Btech IT,VJTI</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
{% endblock content %}