{% extends "layout.html" %}
{% block content %}
    <section class="pt-3 pb-10 text-gray-400 bg-gray-900 body-font" style="padding-top: 50px;">
        <div class="container px-0 mx-auto">
            <div data-aos="zoom-in-down" data-aos-offset="200"    data-aos-delay="0"   data-aos-duration="1700" class="flex flex-col text-center w-full mb-6">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white text-xs">Feedback</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-xs">Your feedback help us to improve.</p>
            </div>
            
      
    </section>
{% endblock content %}


